/*
*
*
*
*
 */
 body{

	background: linear-gradient(180deg, #BBBBBB, #FFFFFF);
	margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
	/*background-image: url(/app/assets/images/cat-lovers.jpg); 
*/	height:250px;
	width:100%;
	margin-top:-50px;
}
.header img{
	height:auto;
	width:100%;
	position: absolute;
	z-index: -3;
}

.nav{	
	margin-top:	20px ;
	padding-top:0px;
	box-shadow: 0px 2px 10px #AAAAAA;
	position: relative;
	width:100%;
	background-image: url(/assets/nav-bar-back.jpg);
}
/*.nav .affix{
	position:fixed;
	top:0;
	right:0;
}*/

.nav ul{
	list-style-type: none;
	padding:0;
	height:60px;
	width:100%;
	text-align: center;
	
}
.nav ul li{
	display:inline-block;
	width:10%;
	padding-top: 15px;
}
.nav ul li a{
	display:block;
	text-decoration: none;
	color:#000000;
	font-family: Papyrus, fantasy;
	font-size: 25px

}
.nav ul li a:hover, a:active{
	color: #BBBBBB;
	 transition:.5s;
}
.active{
	color: #BBBBBB;
}

h1{
	text-align:center;
}
.post-title{
	text-align:center;
}
.post-body{
	text-align:center;
}
.single-post{
	text-align: right;
	padding:15px;
	padding-right:30px;
}




